.hero-s{
    background-image: url(\heroo.jpg);
    background-size: cover;
    background-position: center;
}
.value{
    width: 100px;
    height: 200px;
}

.mission-text{
    display: grid;
    grid-template-columns: 1fr;
}
.mission{
    display: flex;

}
.hero-s h1{
    color: white;
    font-size: 48px;
    text-align: center;
    padding: 15%;

}
.logoMission{
    width: 150px;
    height: 150px;
    margin: 30px;


}
