.hero-s{
    background-image: url(\heroo.jpg);
    background-size: cover;
    background-position: center;
}
.value{
    width: 100px;
    height: 200px;
}

.mission-text{
    display: block;
}
.hero-s h1{
    color: white;
    font-size: 48px;
    text-align: center;
    padding: 15%;

}
